
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.bond {
    display: flex;
    
}

.bond div {
    margin-left: 2%;
    margin-right: 2%;
}

header {
    display: flex;
    background: #00a651;
    font-family: 'Impact';
    position: relative;

}

header img {
    position: absolute;
    width: 60px;
    max-height: 60px;
    left: 2%;
    top: 15%;
    bottom: 1%;
}

header h1 {
    margin-left: auto;
    margin-right: auto;
    
}

.ofz_info_button {
    margin-left: 2%; 
    margin-top: 4%;
    font-weight: bold;
    font-size: 23px;
}

.ofz_info_button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ofz_info_popup {
    display: none;
    position: absolute;
    width: 700px;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-left: 2%;
    padding-right: 2%;
    background: #00a651;
    color: #000;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    
}

.bond_selection {
    margin-left: 2%;
    margin-top: 1%;
}

.numberOfBonds {
    margin-left: 2%;
}

.calculator {
    display: flex;
    flex: 1;
}
.calculator div {
    margin-left: 2%;
    margin-right: 2%;
    
}

footer {
    background: #00a651;
    padding-top: 1%;
    text-align: center;      
}

@media screen and (max-width: 991px) {
    
    header h1 {
        width: 60%;
        font-size: 24px;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;
        
    }
    .bond {
        flex-direction: column;
    }
    .bond div {
        display: flex;
    }
    .bond p {
        margin-right: 1%;
    }
    .calculator p {
        min-height: 36px;
    }

}