
body {
    margin: 0;
}

.bond {
    display: flex;
    
}

.bond div {
    margin-left: 2%;
    margin-right: 2%;
}

header {
    display: flex;
    background: #00a651;
    font-family: 'Impact';

}

header img {
    width: 60px;
    max-height: 60px;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

header h1 {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.bond_selection {
    margin-left: 2%;
    margin-top: 5%;
}

.numberOfBonds {
    margin-left: 2%;
}

.calculator {
    display: flex;
    
}
.calculator div {
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 991px) {
    header h1 {
        width: 60%;
        font-size: 24px;
        text-align: center;
        
    }
    .bond {
        flex-direction: column;
    }
    .bond div {
        display: flex;
    }
    .bond p {
        margin-right: 1%;
    }
    .calculator p {
        min-height: 36px;
    }

}